body {
  /*background picture*/
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Navigation menu*/
.nav {
  background-color: #333f1f;
  padding: 10px;
  text-align: right;
  height: 50px;
}

.nav > ul > li {
  list-style: none;
}

.nav-links {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  align-items: center;
  text-align: center;
}

li > a {
  color: white;
  display: flex;
  text-align: center;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

.nav a:hover {
  text-decoration: underline;
}
/*section for icons*/
#resources {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 12px;
  width: 50%;
  margin-left: 40px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding-top: 30px;
}

/* div where ech icon is inside*/
.resourceItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*icon picture*/
.resourceIcon {
  width: 60px;
  height: 60px;
}

/*The section where the pictures of wood and mine are inside*/
.pictures {
  align-items: centers;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 50px;
}

/*the pictures that is clicble*/
#mineBtn,
#woodsBtn {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 50px;
}

/* cursur for axe and pickaxe */
#woodsBtn:hover {
  cursor: url("../images/axe-cursor.png"), auto;
}

#mineBtn:hover {
  cursor: url("../images/pickaxe-cursor.png"), auto;
}

/*For smalller screen size then 768px*/
@media (width < 768px) {
  .pictures {
    grid-template-columns: repeat(1, 1fr);

    align-items: center;
  }
  #resources {
    grid-template-columns: 1fr;
  }
  main {
    overflow-x: hidden;
  }
}

/*This is for smaler than 548px screen size*/
@media (width < 548px) {
  .nav-links {
    margin-top: -8px;
  }
}
